<div class="jumbotron">
	<h1>The DePaul DICE Lab</h1>

    <!-- the depaul blue 005EB8 -->
    <p class="lead center-block" style = "font-size: 22px; font-weight: 450;">
    <span style = "font-size: 32px;">D</span>ata management systems, <span style = "font-size: 32px;">I</span>nfrastructure-based services,  <span style = "font-size: 32px">C</span>omputational optimization problems and virtual <span style = "font-size: 32px;">E</span>nvironments in School of Computing at DePaul University, Chicago
	</p>
</div>

<div class="container content">
	{{ content }}
</div>
