.pub-icons a {
  margin-right: 10px;
  color: #555;
  text-decoration: none;
  font-size: 1.4em;
}
.pub-icons a:hover {
  color: #000;
}
.pub-icons i {
  margin-right: 10px;
  color: #555;

  font-size: 1.4em;

  font-size: 1.2em;

}
.pub-icons i.disabled {
  color: #ccc;
}

.pub-type { display: none; }
.pub-type.active { display: block; }

